

.image-block
{
    font-size: 20px;

    display: flex;

    height: 400px;

    align-items: center;
    justify-content: center;
}

.image-block--cards
{
    font-size: 16px;

    height: auto;
    flex-wrap: wrap;
}

.card
{
    position: relative;

    overflow: hidden;

    margin: 2px;

    cursor: pointer;
    text-align: left;

    flex-grow: 1;
}

.card--size-small
{
    height: 150px;
}

.card--size-medium
{
    height: 250px;
}

.card--size-large
{
    height: 350px;
}

.card__image
{
    min-width: 100%;
    max-width: 100%;
    height: inherit;

    object-fit: cover;
}

.card__caption
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
}

.card:hover .card__caption
{
    display: block;

    color: #fff;
    background-color: rgba(0,0,0,.7);
}

.card__author-date
{
    display: flex;

    margin: 10px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.card__description
{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card__author
{
    margin: 0 10px 10px 0;
    padding: 5px;

    text-decoration: none;

    color: #fff;
    background-color: #4b7cab;
}

.card__author:hover
{
    background-color: #3b3c40;
}

/*loading indicator*/

.image-block__preload-dot:nth-child(1)
{
    animation: dots 1s infinite;
    animation-delay: 0s;
}

.image-block__preload-dot:nth-child(2)
{
    animation: dots 1s infinite;
    animation-delay: .2s;
}

.image-block__preload-dot:nth-child(3)
{
    animation: dots 1s infinite;
    animation-delay: .5s;
}


@keyframes dots
{
    0%
    {
        color: #000;
    }
    50%
    {
        color: #fff;
    }
    100%
    {
        color: #000;
    }
}
