body
{
    font-family: sans-serif;

    margin: 0;
    padding: 0;
}

*:focus
{
    outline: none;
}

button,
summary,
select
{
    cursor: pointer;
}

ul
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.main
{
    width: 90%;
    margin: 50px auto;
}

.header__title
{
    text-align: center;
}

/*search input*/

.form
{
    display: flex;

    width: 500px;
    margin: 50px auto;

    justify-content: center;
}

.form__input
{
    font-size: 20px;

    width: 80%;
    height: 50px;
    padding: 0 20px;

    border: 0;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
}

.form__button
{
	font-size: 16px;

    border: 0;
    width: 20%;

    color: #fff;
    border-radius: 0 25px 25px 0;
    background-color: #4caf50;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.form__button:hover
{
    background-color: #55bbeb;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.form__button:focus
{
    box-shadow: 0 0 1px rgba(0,0,0,.5);
}

.author_caption
{
    text-decoration: none;
}

@media (max-width: 575.98px)
{
    .form
    {
        width: 90%;
    }
    
    .form__input
    {
        font-size: 14px;
    }
    .form__button
    {
        font-size: 12px;
    }
}
