body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*:focus{
	outline: none;
}
button{
	cursor: pointer;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container{
	width:  90%;
  margin: 50px auto;
}

.container h1{
	text-align: center;
}

.cards_container{
  display: flex;
  flex-wrap: wrap;
  height: auto;

}

.card{
  flex-grow: 1;
  margin: 2px;
  height: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}

.card_image{
  height: inherit;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
}

.card_info{
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
	z-index: 900;
	top:0;
	left:0;
}

.card:hover .card_info{
	display: block;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
}

.card_info_author_date{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px;
}

.card_info_description{
	position: absolute;
	bottom: 10px;
	left: 10px
}
.author_link{
	text-decoration: none;
	color: #fff;
	background-color: #4b7cab;
	padding: 5px;
	margin: 0 10px 10px 0;
}

.author_link:hover{
	background-color: #3b3c40;
}

.loading{
	text-align: center;
}

.dot:nth-child(1){
	animation: dots 1s infinite;
	animation-delay: 0s;

}

.dot:nth-child(2){
	animation: dots 1s infinite;
	animation-delay: .2s;
}

.dot:nth-child(3){
	animation: dots 1s infinite;
	animation-delay: .5s;
}

@keyframes dots{
	0% {
		color:#000;
	}
	50%{
		color:#fff;
	}
	100% {
		color:#000;
	}
}

.home_search{
	display: flex;
	justify-content: center;
	margin: 50px auto;
	width: 500px;

}

.home_search input{
	font-size: 20px;
	width: 80%;
	height: 50px;
	border-radius: 25px 0 0 25px;
	border: 0px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	padding: 0 20px;
	z-index: 50;
}

.home_search button{
	font-size: 16px;
	width: 20%;
	border: 0px;
	border-radius:0 25px 25px 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #4caf50;
	color: #fff;
	z-index: 45;
}

.home_search button:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #55bbeb;
}

.home_search button:focus{
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.filter_icon{
	background-color: transparent;
	border:0;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	margin-left: 10px;
	vertical-align: middle;
}

.filter_container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 30px 0;
}

#licenseFilter{
	height: 30px;
	cursor: pointer;
	border: 0;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.author_caption{
	text-decoration: none;
	
}