.filter{
	background-color: rgba(221,222,222,.3);
}

.filter__summary{
	cursor: pointer;
	padding: 20px;
}

.filter__block
{
    display: flex;

    height: auto;
		padding: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.filter__wrapper
{
    display: flex;

    flex-wrap: nowrap;
    align-items: center;
}

.filter__elem
{
    height: 30px;
    margin-right: 10px;
		border:0;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #fff;
}

.filter__elem--select{
	cursor: pointer;
}

.filter__elem--label
{
    height: auto;
		background-color: transparent;
    box-shadow: none;
}

.filter__elem--input
{
    box-sizing: border-box;
}

.filter__elem--button{
	cursor: pointer;
}

.filter__elem--button:hover{
	box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

.filter__elem--active
{
	box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    background-color: #55bbeb;
    color:#fff;
}

@media (max-width: 575.98px)
{
  .filter__block
    {
        height: auto;

        justify-content: center;
    }

  .filter__elem
    {
        font-size: 12px;

        margin-bottom: 5px;
    }
}
